*{
    margin: 0;
    padding: 0;
}
.azeret-mono-font {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Shared Style */
.title{
    font-size: 32px;
    font-weight: 800px;
    color: #0D1321;
    text-align: center;
    margin-bottom: 24px;
}
.description{
    font-size: 16px;
    font-weight: 400;
    color: #0D1321;
    opacity: 0.7;
    text-align: center;
}


/* Header Section Start Here */
header{
    max-width: 1140px;
    margin: 35px auto;
}
header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header li{
    list-style: none;
}
header a{
    text-decoration: none;
    font-size: 28px;
    font-weight: 800;
    color: #0D1321;
}
header .btn{
    font-size: 20px;
    font-weight: 600;
    color: #0D1321;
    padding: 17px 24px 17px 24px;
    border-radius: 8px;
    opacity: 0.8;
}


/* Hero Section Start Here */
.hero-section{
    background-image: url(assets/img/hero-bg.png);
    background-position:bottom center;
    background-size: cover;
    margin-bottom: 74px;
}
.hero-content{
    width: 998px;
    margin: 0 auto;
    text-align: center;
}
.hero-content img{
    margin-top: 26px;
}
.hero-content h1{
    font-size: 45px;
    font-weight: 800;
    color: #0D1321;
    margin: 24px 0 32px 0;
}
.hero-content p{
    font-size: 16px;
    font-weight: 400;
    color: #0D1321;
    padding: 0 73px;
    margin-bottom: 32px;
    opacity: 0.7;
}
.hero-content button{
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 21px 24px 21px 24px;
    background-color: #0D1321;
    border-radius: 5px;
    margin-bottom: 44px;
}


/* Web Development Section Start Here */
.web-development-section{
    max-width: 1140px;
    margin: 0 auto;
    background-color: #0D132105;
    border-radius: 16px;
    padding: 80px 97px;
    box-sizing: border-box;
}
.web-development-section .content-subtitle{
    font-size: 16px;
    font-weight: 400;
    color: #0D1321;
    opacity: 0.7;
}
.development-container{
    display: flex;
    justify-content: space-between;
    padding: 48px;
    background-color: #FFFFFF;
    border-radius: 16px;
    margin-top: 32px;
}
.development-content{
    width: 477px;
}
.content-title{
    font-size: 24px;
    font-weight: 700;
    color: #0D1321B3;
    margin-bottom: 16px;
}
.development-container img{
    width: 260px;
}
.development-content .btn{
    font-size: 20px;
    font-weight: 600;
    color: #0D1321;
    padding: 12px 20px;
    border: 1px solid #0D1321;
    margin-top: 32px;
    opacity: 0.7;
    background-color: #FFFFFF;
}
.left-side{
    justify-content: left;
}
.margin-left{
        margin-left: 49px;
}


/* My Inspiration Section Start Here */
.inspiration-section{
    max-width: 1140px;
    margin: 88px auto 0;
}
.inspiration-section .video{
    border: 1px solid #0D132133;
    border-radius: 16px;
    padding: 32px;
    margin-top: 48px;
}
.inspiration-section iframe{
    border-radius: 16px;
    width: 100%;
    height: 550px;
}


/* My Current Target Section Start Here */
.current-target{
    max-width: 1140px;
    margin: 149px auto 111px;
}
.current-target .skills-container{
    display: flex;
}
.current-target .skill{
    width: 364px;
    height: 300px;
    margin-top: 48px;
    margin-right: 24px;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 16px;
}
.current-target .skill:last-child{
    margin-right: 0;
}
.current-target .language{
    font-size: 24px;
    font-weight: 800;
    color: #0D1321;
    margin: 24px 0 8px 0;
}
.current-target .lang-description{
    font-weight: 400;
    color: #0D1321;
    opacity: 0.7;
    margin-bottom: 24px;
}
.current-target .learn-more{
    font-weight: 700;
    color: #0D1321;
}
.color-1{
    background-color: #FF4C1E0D;
}
.color-2{
    background-color: #004CE80D;
}
.color-3{
    background-color: #FFDF000D;
}


/* My Next Target Section Start Here */
.next-target{
    max-width: 1140px;
    margin: 0 auto;
}
.next-skills-container .skill img{
    width: 95px;
    height: 85px;
    margin-right: 24px;
}
.next-skills-container .skill{
    display: flex;
    align-items: center;
    padding: 40px;
    border: 1px solid #0D132126;
    border-radius: 16px;
    margin: 24px 0;
}
.next-skills-container .skill-title{
    font-size: 24px;
    font-weight: 800;
    color: #0D1321;
}
.next-skills-container .skill-description{
    font-weight: 400;
    color: #0D1321;
    opacity: 0.7;
    margin: 8px 0 24px 0;
}
.next-skills-container .learn-more{
    font-weight: 700;
    color: #0D1321;
}


/* Support Section Start Here */
.support-section{
    max-width: 1140px;
    margin: 50px auto;
    background-image: url(assets/img/handshake.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 16px;
}
.support-section .support{
    font-weight: 700;
    color: #FFFFFF;
    padding: 64px 0 0 0;
}
.support-section .desc{
    color: #FFFFFF;
    margin-bottom: 40px;
}
form{
    text-align: center;
    padding-bottom: 64px;
}
.support-section .message{
    width: 548px;
    padding: 19px 20px 19px 20px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400px;
    color: #0D132166;
}
.support-section .submit-btn{
    font-size: 20px;
    font-weight: 600;
    color: #0D1321;
    padding: 17px 20px 17px 20px;
    border: none;
    border-radius: 8px;
}


/* Footer Section Start Here */
#footer-area{
    background-color: #0D132108;
    margin-top: 80px;
}
#footer-area h1{
    font-size: 20px;
    font-weight: 600;
    color: #0D1321;
}
.footer-content{
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
}
.footer-content a{
    padding-left: 24px;
}